<div class="panel panel-default devise-bs">

</div>

<% @recipes.each  do |recipe| %>
    <div class="col-md-3">
      <div class="panel panel-default devise-bs" xmlns:font-size="http://www.w3.org/1999/xhtml">
        <div class="panel-body">
          <%= image_tag recipe.avatar.url %>
          <%= image_tag recipe.avatar.url(:medium) %>
          <%= image_tag recipe.avatar.url(:thumb) %>
          <p>Name: <%= recipe.name %></p>
          <p>Price: <%= recipe.price %> </p>
          <p><%=link_to 'ingredients', new_recipe_pizza_path(recipe)%></p>
        </div>
      </div>
    </div>
<% end %>
<div>
  <%= link_to 'new recipe', new_recipe_path%>
</div>